<img src="http://rando-relais.fr/assets/images/background/logo-rando-relais-128x70.png" alt="">

<h1>Bonjour !</h1>

<p>Pour réinitialiser votre mot de passe sur Rando-Relais, veuillez cliquez sur le lien ci-dessous :</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans 1 heure.</p>
{# <p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p> #}
<p>Bien à vous,</p>

<p>L'équipe Rando-Relais</p>
