{% extends 'base.html.twig' %}
{% block title %}
	Mentions Légales -
	{{ parent() }}
{% endblock %}
{% block body %}
	<div class="my-5 col-lg-6 col-10 mx-5 mx-md-auto">
		<h2 class"text-center mb-4">Rando Relais : Mentions Légales</h2>
		<p>L’édition de rando-relais.fr est assurée par la société xxxx inscrite au RCS Paris xxx xxx xxx, dont le siège social est localisé à  xxxxxxx.
		</p>
		<p>Le capital social de la société est de xxxx euros.
		</p>
		<p>
			<i class="fas fa-phone"></i>
			Numéro de téléphone : xx xx xx xx xx
		</p>
		<p>
			<i class="fas fa-envelope"></i>
			Adresse email : xxxx@raxxxxndorelais.com
		</p>
	</div>
{% endblock  %}
