{# START header-shared #}
<header
	class="header-shared">
	{# Inclusion of the nav #}
	{% include "partials/_nav.html.twig" %}
	<div class="mt-5 d-flex flex-column">
		<h1 class="h-white align-self-center text-custom-shadow">Rando Relais</h1>
		<h2 class="h-white align-self-center text-custom-shadow">Marcher & Partager</h2>
		<div class="container container-icons mt-5 d-flex flex-row"></div>
	</div>
</header>
{# END header-shared #}
